.content-wrapper, .right-side, .main-footer{
    margin-left: 0 !important;
}

.navbar-nav > .tasks-menu > .dropdown-menu {
    width: 200px!important;
}




/*
.detail-produk {
    width: 1080px !important;
    margin-left: -50px !important;
}
*/